# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Z3Jvd2luZy1zcGlkZXItNTYuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_0NbJuWM7c7ZoXI8hYEEquc8yUgJAckDrqZr4mq6gfB

# UploadThing for file uploads
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlXzVlYTFmYzUxMzA5Mzg5NmY4MTljZDU1NThkNjI3ZDcyNTUwMzZhNTZlOWE3MTRhMDcxNWJhMmIxY2EyNzA3OTQiLCJhcHBJZCI6Imhra2IyZm80NXciLCJyZWdpb25zIjpbInNlYTEiXX0='

# Neon Database
project id= still-star-77016147

# Gemini API
GEMINI_KEY=AIzaSyBfZQV1TJ9qFc41EgnOAkWJZ6y8rWL-aAE
